<%= paginate @notes, :window => 1, :remote => true, :param_name => :note_page %>
<table class="notesList dashList" cellpadding="0" cellspacing="0">
			<tbody>
				<% @notes.each do |note| %>
          <% if can? :read, note %>
				<tr>
					<td class="spaced">
						<h3 class="title"><a href="<%= note_path(note) %>"><%= note.summary %></a></h3>
						<span class="classification"><%= link_to note.category.name, note.category%></span>
						<strong class="subtitle"><%= note.formatted_date_and_time %> &nbsp;&mdash;&nbsp; <span>by</span> <%= note.counselor.full_name %></strong>
						<p class="name"><%= link_to note.subject_name, note.subject == note.students ? note_students_path(note) : note.subject%></p>
						<%- note_text =h(note.notes).gsub("\n","<br/>") -%>
						<p><%=raw(note_text.length > 165 ? "#{note_text.slice(0..165)}&hellip;" : note_text) %></p>
					</td>
				</tr>
          <% end %>
				<% end %>
			</tbody>
</table>
<%= paginate @notes, :window => 1, :remote => true, :param_name => :note_page %>
