<% content_for :head do %>
  <title>Notes -  <%=current_school.name %> - Ducky Guidance</title>
<% end %>
<div class="notesList content">
	<table cellpadding="0" cellspacing="0">
	<%-@notes.each do |note|-%>
		<tr>
			<td class="spaced">
				<h3 class="title"><%=note.summary%></h3>
				<strong class="subtitle"><%=note.created_at.strftime "%b %d %Y"%> &nbsp;&mdash;&nbsp; <span>Filed under</span> <%=note.category.name%></strong>
				<%- note_text =h(note.notes).gsub("\n","<br/>") -%>
				<p><%=raw(note_text.length > 165 ? "#{note_text.slice(0..165)}&hellip;" : note_text) %></p>
				<span class="rightLink"><%= button_to "View Note", note_path(note), :method => :get %></span>
			</td>
		</tr>
	<%-end-%>
	</table>
	<%= will_paginate @notes%>
</div>
