
= form_for(@meeting) do |f|
  - if @meeting.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@meeting.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @meeting.errors.full_messages.each do |msg|
        %li= msg
  =f.hidden_field :student_id, :value => @meeting.student.id
  =f.hidden_field :counselor_id, :value => current_counselor.id
  .grid_2
    =f.label 'Meeting Date'
  .clear
  .grid_3
    =f.text_field :date, :value => @meeting.occured_on.strftime('%m/%d/%Y')
  .clear
  .grid_2
    =f.label 'Started At'
  .clear
  .grid_4
    =f.text_field :start_time, :value => @meeting.occured_on.strftime('%I:%M %p')
    %input.now{:type=>'submit',:value=>'Now'}
  .clear
  .grid_2
    =f.label 'Ended At'
  .clear
  .grid_4
    =f.text_field :end_time, :value  => (@meeting.end_time).strftime('%I:%M %p')
    %input.now{:type=>'submit',:value=>'Now'}
  .clear
  .grid_2
    =f.label :summary
  .clear
  .grid_3
    =f.text_field :summary
  .clear
  .grid_2
    =f.label :tags
  .clear
  .grid_3
    =f.text_field :tags_string
  .clear
  .grid_1
    =f.label :notes
  .clear
  .grid_5
    =f.text_area :notes
  .clear
  .grid_1
    = f.submit 'Save meeting'
  .clear
