= form_for(@student) do |f|
  - if @student.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@student.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @student.errors.full_messages.each do |msg|
        %li= msg
  .grid_3
    = f.label :first_name
  .cleft
  .grid_3
    = f.text_field :first_name
  .cleft
  .grid_3
    = f.label :last_name
  .cleft
  .grid_3
    = f.text_field :last_name
  .cleft
  .grid_3
    = f.label :city
  .cleft
  .grid_3
    = f.text_field :city
  .cleft
  .grid_3
    = f.label :primary_phone_number
  .cleft
  .grid_3
    = f.text_field :primary_phone_number
  .cleft
  .grid_3
    %label Student ID
  .cleft
  .grid_3
    = f.text_field :student_id
  .cleft
  .grid_3
    = f.label :shop
  .cleft
  .grid_3
    = f.text_field :shop
  .cleft
  .grid_3
    = f.label :year_of_graduation
  .cleft
  .grid_3
    = f.text_field :year_of_graduation
  .cleft
  .grid_3
    = f.submit 'Save'