<h2 class="head pageTitle">Students</h2>
<div class="modStudents modData block module">
	<div class="modCopy">
		<p>
			<label>Search for a Student:</label>
			<input class="studentFilter" type="text" name="student_filter" value="">
		</p>
		<a class="addItem" href="<%= new_student_path %>">Add a Student<span>&nbsp;&rarr;</span></a>
	</div><!--// end modCopy //-->
	<div class="content">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th class="spaced w50">Student</th>
					<th>ID</th>
					<th>YOG</th>
					<th>Counselor</th>
					<th>View Student</th>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |student| %>
					<tr>
						<td class="spaced w50 studentName"><strong><%= student.first_name + " " + student.last_name %></strong></td>
						<td><%=student.student_id%></td>
						<td><%=student.year_of_graduation%></td>
						<td class="w25"><%=student.counselor.last_name%></td>
						<td class="action"><%=button_to "View Student", student_path(student), :method => :get %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div><!--// end modRequests //-->
