.grid_12
  = form_for @counselor, :url => (request.fullpath == my_settings_path ? my_settings_update_path : @counselor) do |f|
    - if @counselor.errors.any?
      #errorExplanation
        %h2= "#{pluralize(@counselor.errors.count, 'error')} prohibited this user from being saved:"
        %ul
        - @counselor.errors.full_messages.each do |msg|
          %li= msg
  
    .clear
    .grid_3
      = f.label :first_name
      %br
      = f.text_field :first_name
    .clear
    .grid_3
      = f.label :last_name
      %br
      = f.text_field :last_name
    .clear
    .grid_3
      = f.label :name_prefix_id, "Prefix"
      %br
      = f.select :name_prefix_id, NamePrefix.all.map {|pref| [pref.prefix, pref.id]}
    .clear
    .grid_3
      = f.label :password
      %br
      = f.password_field :password
    .clear
    .grid_3
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation
    .clear
    .grid_3
      = f.label :email
      %br
      = f.text_field :email

    .clear
    .grid_3
      = f.submit
