%h1= t('.title')


%p= link_to t('.new_counselor'), new_counselor_path

%table
  %thead
    %tr
      %th= Counselor.human_attribute_name :first_name
      %th= Counselor.human_attribute_name :last_name
      %th= Counselor.human_attribute_name :login
      %th= Counselor.human_attribute_name :email
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for counselor in @counselors
      %tr{ :class => cycle(:odd, :even) }
        %td= counselor.first_name
        %td= counselor.last_name
        %td= counselor.email
        
        %td.action= link_to t('show'), counselor
        %td.action= link_to t('edit'), edit_counselor_path(counselor)
        %td.action= link_to t('destroy'), counselor, :confirm => t('are_you_sure'), :method => :delete
