%dt= Counselor.human_attribute_name :first_name
%dd= @counselor.first_name
%dt= Counselor.human_attribute_name :last_name
%dd= @counselor.last_name
%dt= Counselor.human_attribute_name :login
%dd= @counselor.login
%dt= Counselor.human_attribute_name :email
%dd= @counselor.email
