:javascript
  $j(document).ready(function(){
    set_accordion();
    
    $j('#new_note_form').accordion({ header:'h6',collapsible: true,icons: { 'header': '', 'headerSelected': '' }  });
    $j('#new_note_form form').hide()
    $j('#new_note_form h6 span').remove()
    $j('#new_note_form h6').removeAttr('class');
    $j('#new_note_link').click()
    
    var optionsAjaxSubmit = {
      resetForm: true,
      success: submit_succeeded,
      error: submit_failed
    };
    $j('#new_note').submit(function(){
        $j('#note_submit').attr('disabled', 'disabled');
        $j(this).ajaxSubmit(optionsAjaxSubmit);
        
        return false;
    });
  });
  var submit_succeeded = function(html){
    var address=location.pathname + '/notes';

    $j.ajax({
      type: 'GET',
      url: address,
      cache: false,
      success: function(html){
        $j('#notes').remove();
        $j('#note_container').append(html);
        $j('#new_note_link').click();
        set_accordion();
        
        $j('#note_submit').removeAttr('disabled');
      }
    });

  };
  var submit_failed = function(html,errortype){
    $j('#note_submit').removeAttr('disabled');
    alert("The Note could note be saved, make sure that you have included a summary and the details for the note. ")
  };
  var set_accordion = function(){
    $j('.note_info').click(slide_toggle_notes)
    $j('.note_notes').hide()
  };
  var slide_toggle_notes = function(){
    $j(this).parent().find('.note_notes').slideToggle()
  };

.grid_12
  %p
    = link_to t('back'), groups_path
    = link_to t('edit'), edit_group_path(@category)

  %dl
    %dt
      %strong= Group.human_attribute_name :name
    %dd= @group.name
    %dt
      %strong= Group.human_attribute_name :description
    %dd= @group.description
  
  .cleft
  %h2 Members
  
  - for student in @group.students
    .grid_3= student.last_name + ', ' + student.first_name
    .grid_1= button_to t('show'), student, :method => :get
    .cleft
  #new_note_form
    %h6
      %a{:href=>"#",:id=>'new_note_link'} New Note
    =render :partial => 'notes/form'
.grid_12#note_container
  %h2 Notes
  =render :partial => 'shared/note_list', :locals => { :note_list => @group.notes}
//    %dt
//      %strong= 'Number of Notes'
//    %dd= @group.notes.count
  
//.grid_12
//  =render :partial => 'shared/dashboard_list', :locals => { :note_list => @category.notes}
