<% content_for :head do %>
  <title><%=@group.name %> - Group -  <%=current_school.name %> - Ducky Guidance</title>
<% end %>
<h2 class="head pageTitle"><span>Group:</span> <%= @group.name %>
<% if can? :destroy, @group %>
    <div class="delete">
      <%= button_to "Delete this group", {action: :destroy, id: @group.id}, confirm: "Group deletion is permanent.  Are you sure you want to delete this smart group?", method: :delete %>
    </div>
<% end %>
</h2>

<div class="rightLink">
	<a href="<%= edit_group_path(@group)%>">Edit<span>&nbsp;&rarr;</a>
</div>

<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td class="spaced label">Name</td>
			<td><%= @group.name %></td>
		</tr>
		<tr>
			<td class="spaced label">Description</td>
			<td><p><%=@group.description%></p></td>
		</tr>
      <tr>
			<td class="spaced label">Number of Students</td>
			<td><%=@group.students.count%></td>
		</tr>
	</tbody>
</table>

<div class="modList modData block module">
	<h2 class="head">Group Members</h2>
	<div class="content">
		<div id="students">
			<%=render "students/students"%>
		</div>
	
	</div>
</div><!--// end modRequests //-->


<%= render "shared/new_note" %>
<%= render "notes/list" %>

<% content_for :auxiliary do %>
	<div class="modReports block module">
		<h2 class="head">Reports</h2>
		<div class="content">
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<%= render :partial => "shared/category_note_chart", :locals => {:notes => @group.notes} %>
			<%= render :partial => "shared/month_note_chart", :locals => {:notes => @group.notes} %>
			<div id="chart_div" class="modChart module"></div>
			<div id="chart_div2" class="modChart module"></div>
		</div>
	</div><!--// end modReports //-->
<% end %>
