<%-page_count = (count/5.0).ceil-%>
<div class="pagination">
	<p><strong>Page <%=page%></strong> of <%=page_count %></p>
	<%-if page_count > 1%>
	<ul>
		<%- unless page == 1 -%>
		<li><a href="?page=1">First</a></li>
		<li><a class="prev" href="?page=<%=page-1%>" title="Previous">&lt;</a></li>
		<%- end -%>
		<%-first_link=page-1 == 0 ? 1 : page-1 -%>
		<%-if page == 1
			page_range = page_count > 3 ? 1..3 : 1..page_count
		   elsif page == page_count
			page_range = ( page-2 > 1 ? page - 2 : 1)..page
		   else
			page_range = (page-1 > 1 ? page-1 : 1 )..(page+1)
		   end
			-%>
		<%-page_range.each do |link_num|-%>
		<li <%=page == link_num ? "class='active'" : ""%>><a href="?page=<%=link_num%>"><%=link_num%></a></li>
		<%- end -%>
		<%- unless page == page_count -%>
		<li><a class="next" href="?page=<%=page+1%>" title="Next">&gt;</a></li>
		<li><a href="?page=<%=page_count%>">Last</a></li>
		<%- end -%>
	</ul>
	<%-end-%>
</div><!--// end pagination //-->