<% content_for :head do %>
  <title><%=current_school.name %> - Ducky Guidance</title>
<% end %>
<div class="requestMeeting module">
	<h2 class="head">Students</h2>
	<div class="content">
		<h3>Request a Meeting with your Counselor</h3>
		<%= form_for(MeetingRequest.for_school(current_school).build, :html => {}) do |f| %>
			<fieldset class="formBegin">
				<p><%= f.label :first_name, "First Name", :class => 'first_name' %><%= f.text_field :first_name, :value => 'First Name', :class => "first_name" %></p>
				<p><%= f.label :last_name, "Last Name", :class => 'last_name' %><%= f.text_field :last_name, :value => 'Last Name', :class => "last_name" %></p>
				<div class="button">
					<input class="continue" type="submit" name="continue" value="Continue &raquo;">
				</div>
			</fieldset>
			<p class="message"><strong></strong>,&nbsp;&nbsp;your request is almost complete. Just fill out the rest of the fields below and you&rsquo;ll be on your way. (You can also <span class="editName">edit your name</span> if needed.)</p>
			<fieldset class="formContinue">
				<p><%= f.label :email, "Email Address" %><%= f.text_field :email %></p>
				<fieldset>
					<p>
						<%= f.label :counselor_id, "Guidance Counselor" %>
						<% counselor_array = ["Choose a Counselor"] + current_school.counselors.map { |counselor| [counselor.formal_name, counselor.id] } %>
						<%= f.select :counselor_id, options_for_select(counselor_array) %>
					</p>
				</fieldset><!--// end chooser //-->
				<p><%= f.label :notes, "Message "%><%= f.text_area :notes, :rows => 8, :cols => 40 %></p>
				<p class="formDate">
					<%= f.label :date, 'Desired Date' %>
					<span class="ex">(Example: Today would be <%=Time.now.strftime "%m/%d/%Y"%>)</span>
					<%= f.text_field :date, :class => "datepicker" %>
				</p>
				<p>
					<% valid_times = ["Choose a Time","8:00 AM", "8:15 AM", "8:30 AM", "8:45 AM", "9:00 AM", "9:15 AM", "9:30 AM", "9:45 AM", "10:00 AM", "10:15 AM", "10:30 AM", "10:45 AM", "11:00 AM", "11:15 AM", "11:30 AM", "11:45 AM", "12:00 PM", "12:15 PM", "12:30 PM", "12:45 PM", "1:00 PM", "1:15 PM", "1:30 PM", "1:45 PM", "2:00 PM", "2:15 PM", "2:30 PM", "2:45 PM", "3:00 PM"]%>
					<%= f.label :time, 'Desired Time'%>
					<%= f.select :time, options_for_select(valid_times), {}, {:class => "narrow"} %>
				</p>
				<div class="button">
					<%= f.submit 'Send Request' %>
				</div>
			</fieldset><!--// end formContinue //-->
		<% end %>
	</div><!--// end content //-->
</div><!--// end meetingForm module //-->
