= form_for(@meeting_request) do |f|
  - if @meeting_request.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@meeting_request.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @meeting_request.errors.full_messages.each do |msg|
        %li= msg
  .grid_4
    %strong
      Bold fields
    are required
  .clear
  .grid_2
    %strong
      = f.label :first_name
    %br
    = f.text_field :first_name
  .clear
  .grid_2
    %strong
      = f.label :last_name
    %br
    = f.text_field :last_name
  .clear
  .grid_2
    %strong
      =f.label 'Counselor'
    %br
    = f.select :counselor_id, current_school.counselors.map {|c| [c.last_name, c.id]}
  .clear
  .grid_2
    %strong
      = f.label :email
    %br
    = f.text_field :email
  .clear
  .grid_4
    = f.label :notes
    %br
    = f.text_area :notes
  .clear
  .grid_4
    = f.label :desired_date
    %br
    =f.text_field :date, :value => DateTime.now.strftime('%m/%d/%Y')
  .clear
  .grid_4
    = f.label 'Desired Time'
    %br
    =f.text_field :time, :value => '12:00 pm'
  .clear
  .grid_2
    = f.submit 'Submit Request'
