%h1= t('.title')
%p= link_to t('.new_meeting_request'), new_meeting_request_path

%table
  %thead
    %tr
      %th= MeetingRequest.human_attribute_name :first_name
      %th= MeetingRequest.human_attribute_name :last_name
      %th= MeetingRequest.human_attribute_name :email
      %th= MeetingRequest.human_attribute_name :notes
      %th= MeetingRequest.human_attribute_name :desired_date
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for meeting_request in @meeting_requests
      %tr{ :class => cycle(:odd, :even) }
        %td= meeting_request.first_name
        %td= meeting_request.last_name
        %td= meeting_request.email
        %td= meeting_request.notes
        %td= meeting_request.desired_date
        %td.action= link_to t('show'), meeting_request
        %td.action= link_to t('edit'), edit_meeting_request_path(meeting_request)
        %td.action= link_to t('destroy'), meeting_request, :confirm => t('are_you_sure'), :method => :delete
