= form_for(@counselor_session,:url=>'login') do |f|
  - if @counselor_session.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@counselor_session.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @counselor_session.errors.full_messages.each do |msg|
        %li= msg
  
  .grid_1
    = f.label :login
  .grid_1
    = f.text_field :login
  .clear
  .grid_1
    =f.label :password
  .grid_1
    =f.password_field :password
  .clear
  .actions
    = f.submit "Login"
