<div class="modCopy module">
	<%= form_for(@school) do |f|%>
		<% if @school.errors.any? %>
			<ul>
				<%- @school.errors.full_messages.each do |msg| -%>
					<li><%=msg%></li>
				<%-end-%>
			</ul>
		<% end %>
		<fieldset>
			<p>
				<%= f.required_field_label :name, "Name"%>
				<%= f.text_field :name %>
			</p>
			<p>
				<%= f.required_field_label :address, "Address"%>
				<%= f.text_field :address%>
			</p>
			<p>
				<%= f.required_field_label :city%>
				<%= f.text_field :city%>
			</p>
			<p>
				<%=f.required_field_label :state%>
				<%=f.text_field :state%>
			</p>
			<p>
				<%=f.required_field_label :zip_code%>
				<%= f.text_field :zip_code %>
			</p>
      <p>
        <%= f.label :allows_meeting_requests %>
        <%= f.check_box :allows_meeting_requests %>
      </p>
      <%if @school.new_record? %>
        <%-subdomain_prefix = "school[new_subdomain_attributes]"-%>
        <%= fields_for subdomain_prefix, Subdomain.new do |subdomain_form| %>
          <p>
			  	  <%= subdomain_form.required_field_label :name, "Subdomain"%>
				    <%= subdomain_form.text_field :name %>
			    </p>
        <%end%>
        <h2>Administrator</h2>
        <%-counselor_prefix = "school[new_counselor_attributes]"-%>
        <%= fields_for counselor_prefix, Counselor.new do |counselor_form| %>
          <p>
			  	  <%= counselor_form.required_field_label :first_name, "First Name"%>
				    <%= counselor_form.text_field :first_name %>
			    </p>
          <p>
			  	  <%= counselor_form.required_field_label :last_name, "Last Name"%>
				    <%= counselor_form.text_field :last_name %>
          </p>
          <p>
			  	  <%= counselor_form.required_field_label :email%>
				    <%= counselor_form.text_field :email %>
			    </p>
          <p>
			  	  <%= counselor_form.required_field_label :password%>
				    <%= counselor_form.password_field :password %>
          </p>
          <p>
			  	  <%= counselor_form.required_field_label :password_confirmation%>
				    <%= counselor_form.password_field :password_confirmation %>
			    </p>
        <%end%>
      <% end %>
			<div class="button">
				<%=f.submit (request.filtered_parameters["action"] == "new" ||  request.filtered_parameters["action"] == "create")? "Add This School" : "Update This School"%>
			</div>
		</fieldset>
	<% end %>
</div>
