.grid_3
  %strong Name
  %br
  = @school.name
.grid_3
  %strong Address
  %br
  = @school.address
.grid_3
  %strong City
  %br
  = @school.city
.grid_3
  %strong State
  %br
  = @school.state
.clear
.grid_3
  %strong Zip Code
  %br
  = @school.zip_code
.grid_3
  %strong Subdomain
  %br
  = @school.subdomain.name + ".duckyg.com"
