.grid_12
  %p= link_to 'New Category', new_category_path

  %table
    %thead
      %tr
        %th= Category.human_attribute_name :name
        %th= Category.human_attribute_name :description
        %th{:colspan => 3}= t 'actions'
  
    %tbody
      - for category in @categories
        %tr{ :class => cycle(:odd, :even) }
          %td= category.name
          %td= category.description
          %td.action= link_to t('show'), category
          %td.action= link_to t('edit'), edit_category_path(category)
