.grid_12
  %p
    = link_to t('back'), categories_path
    -if current_counselor.has_role?(:school_admin, current_school) && !@category.system
      = link_to t('edit'), edit_category_path(@category)

  %dl
    %dt
      %strong= Category.human_attribute_name :name
    %dd= @category.name
    %dt
      %strong= Category.human_attribute_name :description
    %dd= @category.description
    %dt
      %strong= 'Number of Notes'
    %dd= @category.notes.count
    
.grid_12
  =render :partial => 'shared/note_list', :locals => { :note_list => @category.notes}
