<h2 class="head pageTitle"><span>Note Category:</span> <%= @category.name %></h2>

<%- unless @category.system -%>
<div class="rightLink">
	<a href="<%= edit_category_path(@category)%>">Edit<span>&nbsp;&rarr;</a>
</div>
<%- end -%>
<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td class="spaced label">Name</td>
			<td><%= @category.name %></td>
		</tr>
		<tr>
			<td class="spaced label">Description</td>
			<td><p><%=@category.description%></p></td>
		</tr>
	</tbody>
</table>

<div class="modCopy block module">
	<h2 class="head">Report</h2>
	<%= form_tag(categories_path + "/#{@category.id}/report.csv", :method => :get) do%>
		<fieldset>
			<p>
				<%= label_tag :start_date, "Start Date" %>
				<%= text_field_tag :start_date %>
			</p>
			<p>
				<%= label_tag :end_date, "End Date" %>
				<%= text_field_tag :end_date %>
			</p>
			<div class="button">
				<%=submit_tag 'Generate Report'%>
			</div>
		</fieldset>
	<% end %>
</div><!--// end modCopy //-->

<div class="modNotes block module">
	<h2 class="head">Notes</h2>
	<%=render :partial => 'shared/note_list', :locals => {:notes => @category.notes}%>
</div><!--// end modNotes //-->

