<% content_for :head do %>
  <title><%= @category.name %> - Categories -  <%=current_school.name %> - Ducky Guidance</title>
<% end %>
<h2 class="head pageTitle"><span>Note Category:</span> <%= @category.name %></h2>

<%- unless @category.system -%>
  <% if can? :edit, @category %>
    <div class="rightLink">
      <a href="<%= edit_category_path(@category)%>">Edit<span>&nbsp;&rarr;</a>
    </div>
  <% end %>
<%- end -%>
<table cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td class="spaced label">Name</td>
			<td><%= @category.name %></td>
		</tr>
		<tr>
			<td class="spaced label">Description</td>
			<td><p><%=@category.description%></p></td>
		</tr>
	</tbody>
</table>


<div class="block module">
	<h2 class="head">Report</h2>
	<div class="modCopy">
		<%= form_tag(categories_path + "/#{@category.id}/report.csv", :method => :get) do%>
			<fieldset>
				<p class="formDate">
					<%= label_tag :start_date, "Start Date" %>
					<span class="ex">(Example: Today would be <%=Time.now.strftime "%Y-%m-%d"%>)</span>
					<%= text_field_tag :start_date,'', :class => "datepicker" %>
				</p>
				<p class="formDate">
					<%= label_tag :end_date, "End Date" %>
					<span class="ex">(Example: Today would be <%=Time.now.strftime "%Y-%m-%d"%>)</span>
					<%= text_field_tag :end_date,'', :class => "datepicker" %>
				</p>
				<div class="button">
					<%=submit_tag 'Generate Report'%>
				</div>
			</fieldset>
		<% end %>
	</div><!-- /modCopy -->
</div><!--// end block module //-->

<%= render "notes/list" %>

<% content_for :auxiliary do %>
	<div class="modReports block module">
		<h2 class="head">Reports</h2>
		<div class="content">
			<script type="text/javascript" src="https://www.google.com/jsapi"></script>
			<%= render :partial => "shared/month_note_chart", :locals => {:notes => @category.notes} %>
			<div id="chart_div" class="modChart module"></div>
			<div id="chart_div2" class="modChart module"></div>
		</div>
	</div><!--// end modReports //-->
<% end %>
