<div class="modCopy module">
  <%= form_for(@smart_group) do |f| %>
    <% if @smart_group.errors.any? %>
      <ul>
        <%- @smart_group.errors.full_messages.each do |msg| -%>
          <li><%=msg%></li>
        <%-end-%>
      </ul>
    <% end %>
    <fieldset>
      <%= f.hidden_field :deleted_filters %>
      <p>
        <%= f.required_field_label :name %>
        <%= f.text_field :name %>
      </p>
      <div id="fields">
        <% @smart_group.smart_group_filters.each do |filter| %>
          <%= render partial: "filter_fields", locals: {filter: filter} %>
        <% end %>
      </div>
      <a class="add-smart-group-filter" href="<%= smart_groups_path %>/new_field/">Add Field</a>
      <div class="button">
				<%=f.submit (request.filtered_parameters["action"] == "new" ||  request.filtered_parameters["action"] == "create")? "Add This Smart Group" : "Update This Smart Group"%>
			</div>
    </fieldset>
  <% end %>
</div>

