= form_for(@smart_group) do |f|
  - if @smart_group.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@smart_group.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @smart_group.errors.full_messages.each do |msg|
        %li= msg
  .grid_3
    = f.label :name
  .cleft
  .grid_3
    = f.text_field :name
  .cleft
  .grid_3
    = f.label :field_name
  .cleft
  .grid_3
    = f.text_field :field_name
  .cleft
  .grid_3
    = f.label :field_value
  .cleft
  .grid_3
    = f.text_field :field_value
  .cleft
  .grid_3
    = f.submit 'Save'