-@field_error_proc = Proc.new{ |html_tag, instance| "#{html_tag}".html_safe }
= form_for(@user_session,:url=>'login') do |f|
  - if @user_session.errors.any?
    #errorExplanation
      %h5 Invalid email or password
  
  .grid_1
    = f.label :email
  .grid_1
    = f.text_field :email
  .clear
  .grid_1
    =f.label :password
  .grid_1
    =f.password_field :password
  .clear
  .actions
    = f.submit "Login"
