<div class="requestMeeting module">
	<h2 class="head">Counselors</h2>
	<div class="content">
		<h3>Log in to manage your students:</h3>
		<%= form_for(@user_session,:url=>'login') do |f| %>
			<% if @user_session.errors.any? %>
				<div>
					<h2> Invalid email or password</h2>
				</div>
			<% end %>
			<fieldset class="formBegin">
				<p><%= f.label :email, "Email Address", :class => 'first_name' %><%= f.text_field :email, :value => 'email@example.com', :class => "first_name" %></p>
				<p><%= f.label :password, "Password", :class => 'last_name' %><%= f.password_field :password %></p>
				<div class="button">
          <%= f.submit raw("Login &raquo;") %>
				</div>
			</fieldset>
		<% end %>
	</div><!--// end content //-->
</div><!--// end meetingForm module //-->
