
<!doctype html>

<!--[if IE 6 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>DuckyG - Template</title>

	<meta name="description" content="Description of page">
	<meta name="keywords" content="Keywords for page">
	<meta name="copyright" content="Copyright information">
	<meta name="Robots" content="INDEX,FOLLOW">

	<link rel="shortcut icon" href="/favicon.gif" type="image/gif">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/styles/structure.css">
	<link rel="stylesheet" href="/styles/content.css">
	<link rel="stylesheet" media="print" href="/styles/print.css">
	<%= csrf_meta_tag%>
</head>
<body class="pageHome">

	<div id="header">
		<div class="wrap">
			<h1 id="pageTitle">Ducky Regional High School</h1>
		</div>
	</div><!--// end header //-->
	<hr class="print">

	<%= yield %>

	<div id="login">
		<div class="wrap">
			<span class="trigger"><strong>Counselor Login</strong></span>
			<%= form_for UserSession.new, :url => 'login' do |f| %>
			  <p><%= f.label :email, "Email Address " %><%= f.text_field :email%></p>
        <p><%= f.label :password %><%= f.password_field :password%></p>
				<div class="button"><%= f.submit "Log in", :class => 'button '%></div>
      <% end %>
		</div>
	</div><!--// end login //-->

	<hr class="print">
	<div id="footer">
		&nbsp;
	</div><!--// end #footer //-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
	<script type="text/javascript" src="/scripts/library.js"></script>
	<script type="text/javascript" src="/scripts/rails-jquery.js"></script>
</body>
</html>